html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#board {
  width: 100px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #0077C2;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
.cardFaces {
  height: 100%;
  position: relative;
  width: 100%;
  perspective: 800px;
}
.cardFaces img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  backface-visibility: hidden;
}
.squareF, .squareB {
  background-color: #F2F2F2;
  border: 1px solid #C2C2C2;
  border-radius: 5px;
  height: 70px;
  margin: 5px;
  width: 70px;
  z-index: 2;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
  background-image: url('card_back.png');
}
.squareF:hover, .squareB:hover {
  background-color: #D6D6D6;
  cursor: pointer;
}
.squareB {
  transform: rotateY(180deg);
}

.is-flipped {
  transform: rotateY(180deg);
}